<Link rel="stylesheet" href="/static/css/login.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<form action="/options" method="GET">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login/Register</h1>
			</div>
      <input type="submit" name="submit" value="register">
      <br>
      <br>
      <input type="submit" name="submit" value="login">
			</div>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}
